.let-meet-container{
    padding: 0 2.5rem;
}
.letmeet{
    font-size: 2rem;
}
.letmeet p{
   margin: .5rem 0 0 0;
}
.letmeet div{
    margin: 0rem 0 3rem 0;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: pink;
 }
 
 @media screen and (max-width: 500px)and (max-width: 610px)  {
   .theslider{
      margin-left: 7%;
      width: 100%;
   }
   .slick-prev{
    margin-left: -6rem;
}
} 
@media screen and (min-width: 500px) and (max-width: 780px){
    .theslider{
       margin-left: 10%;
       width: 100%;
    }
    .slick-prev{
        margin-left: -10rem;
    }
 } 