.meet-card-bg{
    height: 24rem;
    width: 15rem;
    border-radius: 10px;
    background-color: white
}
.meetcard-img-contaviner{
    width: 15rem;
    border-radius: 20px;
}
.meetcard-img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.member-name-pass{
    display: flex;
    justify-content: center;
    color: black;
    margin: 1rem 0 0 0;
}
.member-name-pass .memname{
    font-weight: 600;
    font-size: 1.1rem;
}
.gender-age{
    display: flex;
    justify-content: center;
    gap: .4rem;
    font-size: .9rem;
    font-weight: 500;
    color: darkgray
}
.meet-card-bg:hover .meetcard-img{
    opacity: .8;
}
