.com-shop{
    display: grid;
    align-content: center;
    justify-items: center;
    padding: 1rem 2rem 3rem 2rem;
    margin: 2rem 0;
    gap: 2rem;
    grid-template-columns: 1.1fr .9fr ;
    height: 90vh;
}
.com-letmeet{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0;
}
.com-shop .letmeet .event-content{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
} 
.com-shop .letmeet button{
    font-size: 1.1rem;
    font-weight: 700;
    padding: 12px 1.7rem;
    background-color: rgb(239, 91, 133) ;;
    border-radius: 30px;
    color: white
}
.event-content span{
    font-style: italic;
    margin:  0 .5rem;
    font-weight: 600;
}
.right-pixels{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.right-pixels .imgone{
   width: 25rem;
   position: relative;
   margin-right: 2rem;
}
.img-one{
    width: 100%;
    position: absolute;
    left: 0;
}
@media screen and (max-width: 760px) {
    .com-shop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
        height: 50rem;
        overflow-x: hidden;
    }
    .com-shop .letmeet{
        margin-top: 20rem;
    }
    .right-pixels .imgone{
        width: 22rem;
        position: relative;
     }
     .img-one{
        width: 80%;
        position: absolute;
        left: 10%;
    }
    .com-shop .letmeet{
        display: flex;
        justify-content: center;
        align-items: center;
        
     }
    .com-shop .letmeet .eve-title{
        font-size: 1.5rem;
        
     }
     .com-shop  .letmeet div{
         font-size: 1.6rem;
         
      }
      .com-shop  .letmeet button{
         font-size: 1rem;
         
      }
      .com-shop .letmeet .event-content{
         font-size: 1rem;
         font-weight: 500;
         text-align: center;
         text-decoration: none;
         padding: 0 15%;
     } 
}
@media screen and (max-width: 350px) {
    .img-one{
        width: 80%;
        position: absolute;
        left: 15%;
    }
}